<app-shared-list
  [titleKey]="'MECH_ISSUES.TITLE'"
  [addLabelKey]="'MECH_ISSUES.ADD'"
  [canAdd]="authService.hasPermission('mechIssue.create')"
  (addClicked)="openAddMechIssue()"
  [pagingConfig]="pagingConfig"
  (pageSizeSearch)="search()"
  [items]="mechIssues"
  [emptyText]="'No mech issues found'"
  (pageChanged)="pagingConfig.currentPage = $event; loadMechIssues();"
>
  <!-- header -->
  <ng-container table-header>
    <th>{{ 'MECH_ISSUES.TABLE.NO' | translate }}</th>
    <th>{{ 'MECH_ISSUES.TABLE.NAME_AR' | translate }}</th>
    <th>{{ 'MECH_ISSUES.TABLE.NAME_EN' | translate }}</th>
    <th class="text-end">{{ 'COMMON.ACTIONS' | translate }}</th>
  </ng-container>

  <!-- body -->
  <ng-container table-body>
    <tr *ngFor="let branch of mechIssues | paginate: pagingConfig; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ branch.nameAr }}</td>
      <td>{{ branch.nameEn }}</td>
      <td class="text-end">
        <button
          class="btn btn-sm btn-outline-primary me-1"
          *ngIf="authService.hasPermission('mechIssue.update')"
          (click)="openEditMechIssue(branch)">
          {{ 'COMMON.EDIT' | translate }}
        </button>
        <button
          class="btn btn-sm btn-outline-danger"
          *ngIf="authService.hasPermission('mechIssue.delete')"
          (click)="deleteMechIssue(branch)">
          {{ 'COMMON.DELETE' | translate }}
        </button>
      </td>
    </tr>
  </ng-container>
</app-shared-list>
