<app-shared-list
  [titleKey]="'SERVICE.TITLE'"
  [addLabelKey]="'SERVICE_PRICE.ADD'"
  [canAdd]="authService.hasPermission('servicePrice.create')"
  (addClicked)="openAddServicePrice()"
  [pagingConfig]="pagingConfig.search"
  (pageSizeSearch)="search()"
  [items]="servicePrices"
  [emptyText]="'No service prices found'"
  (pageChanged)="pagingConfig.search.currentPage = $event; loadServices();"
>
  <!-- header -->
  <ng-container table-header>
    <th>{{ 'SERVICE_PRICE.TABLE.NO' | translate }}</th>
    <th>{{ 'SERVICE_PRICE.TABLE.SERVICE_NAME' | translate }}</th>
    <th>{{ 'SERVICE_PRICE.TABLE.MARK' | translate }}</th>
    <th>{{ 'SERVICE_PRICE.TABLE.FROM_YEAR' | translate }}</th>
    <th>{{ 'SERVICE_PRICE.TABLE.TO_YEAR' | translate }}</th>
    <th class="text-end">{{ 'COMMON.ACTIONS' | translate }}</th>
  </ng-container>

  <!-- body -->
  <ng-container table-body>
    <tr *ngFor="let servicePrice of servicePrices | paginate: pagingConfig.search; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ isAr() ? servicePrice.serviceNameAr : servicePrice.serviceNameEn }}</td>
      <td>{{ isAr() ? servicePrice.brandNameAr : servicePrice.brandNameEn }}</td>
      <td>{{ servicePrice.fromYear }}</td>
      <td>{{ servicePrice.toYear }}</td>
      <td class="text-end">
        <button
          class="btn btn-sm btn-outline-primary me-1"
          *ngIf="authService.hasPermission('servicePrice.update')"
          (click)="openEditServicePrice(servicePrice)">
          {{ 'COMMON.EDIT' | translate }}
        </button>
        <button
          class="btn btn-sm btn-outline-danger"
          *ngIf="authService.hasPermission('servicePrice.delete')"
          (click)="deleteServicePrice(servicePrice)">
          {{ 'COMMON.DELETE' | translate }}
        </button>
      </td>
    </tr>
  </ng-container>
</app-shared-list>
