#pageSize {
    width: 80px!important;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
  }
  #pageSize:hover {
    background-color: #e9ecef;
  }
  