<app-shared-list
  [titleKey]="'CLIENTS.TITLE'"
  [addLabelKey]="'CLIENTS.ADD'"
  [canAdd]="authService.hasPermission('clients.create')"
  (addClicked)="openAddClient()"
  [pagingConfig]="pagingConfig"
  (pageSizeSearch)="search()"
  [items]="clients"
  [emptyText]="'CLIENTS.EMPTY' | translate"
  (pageChanged)="pagingConfig.currentPage = $event; loadClients();"
>
  <!-- header -->
  <ng-container table-header>
    <th>#</th>
    <th>{{ 'CLIENTS.TABLE.NAME' | translate }}</th>
    <th>{{ 'CLIENTS.TABLE.TYPE' | translate }}</th>
    <th>{{ 'CLIENTS.TABLE.EMAIL' | translate }}</th>
    <th>{{ 'CLIENTS.TABLE.PHONE' | translate }}</th>
    <th class="text-center">{{ 'CLIENTS.TABLE.EXAMINATION_COUNT' | translate }}</th>
    <th class="text-center">{{ 'CLIENTS.TABLE.TOTAL_REVENUE' | translate }}</th>
    <th class="text-end">{{ 'COMMON.ACTIONS' | translate }}</th>
  </ng-container>

  <!-- body -->
  <ng-container table-body>
    <tr *ngFor="let client of clients | paginate: pagingConfig; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ client.nameEn }}</td>
      <td>{{ client.typeEn }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td class="text-center">{{ client.examinationCount }}</td>
      <td class="text-center">{{ client.totalRevenue | number:'1.2-2' }}</td>
      <td class="text-end">
        <button
          *ngIf="authService.hasPermission('clients.update')"
          (click)="openEditClient(client)"
          class="btn btn-sm btn-outline-primary me-1"
          type="button">
          {{ 'COMMON.EDIT' | translate }}
        </button>
        <button
          *ngIf="authService.hasPermission('clients.delete')"
          (click)="deleteClient(client)"
          class="btn btn-sm btn-outline-danger"
          type="button">
          {{ 'COMMON.DELETE' | translate }}
        </button>
      </td>
    </tr>
  </ng-container>
</app-shared-list>
