.form-group label {
    font-weight: bold;
    color: #333;
}

textarea {
    height: 80vh; 
    width: 100%;
    resize: none;
    border-radius: 8px; 
    border: 1px solid #ccc;
    background-color: #f9f9f9; 
    padding: 10px;
    font-size: 16px;
    color: #333;
}

textarea:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 6px;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3; 
}